.cool_check {
  margin:auto;
} 
.cool_check .form-checkboxes .form-item{
  width:125px;
  margin-left:18px;
  margin-right:10px;
  float:left;
}
.cool_check .form-item label{
  color:white;
}
.cool_check .form-item label strong{
  font-size:11px;
}
.cool_submit {
  clear:left;
}
