.cool_check {
  margin:auto;
}
.cool_check .copy-form-item{
  width:125px;
  margin-left:18px;
  margin-right:10px;
  float:left;
} 
.cool_check .form-checkboxes .form-item{
  text-align:center;
  width:125px;
  /*margin-left:18px;
  margin-right:10px;*/
  float:left;
  padding:30px 10px 0;
  border-bottom:1px solid #FFFFFF;
}
.cool_check .form-item label{
  color:white;
}
.cool_check .form-item label strong{
  font-size:16px;
}
.cool_submit {
  clear:left;
}
#footer{
  padding-top:0px;
}
.detail_all{
    color:white; 
  text-align:center;
}
.detail_all strong{
   font-weight:bold;
 
}
#detailxx {
  border-bottom:none;
}

.cool_check .form-checkboxes .detail_display .form-item{
    padding:0;
    border-bottom:none;
    width:125px;
    height:200px;
    margin-left:18px;
    margin-right:10px;
    float:left;

}
.detail_all .grid_2{
    padding-top:20px;
}

